html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  input {
    width: 40%;
    border: 1px solid #008CBA;
    height: 5%;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 40%;
    height: 6%;
    font-size: 14px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    border: 1px solid #008CBA;
  }

  button:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .messages {
    width: 40%;
    height: 30%; 
    overflow-y: scroll;
    margin: 20px 0;
    border: 1px solid #008CBA;
    padding: 20px;
  }